#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
  margin-left: 45%;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
.high-score:hover {
  transform: scale(1.025);
}

.boton {
  display: inline-flex;
  align-items: center;
  background: #C06C84;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 45px;
  padding: 0 30px;
  margin: 10px;
  margin-left: 46%;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.boton:hover {
  background: #ae4b67;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
}